.bg-1,
.bg-2,
.bg-3,
.bg-4{
    background: fixed no-repeat center center / cover;
}
.bg-1{
    background-image: url(img/bg-1.jpg);
    background-size: 110%;
}
.bg-2{
    background-image: url(img/bg-2.jpg);
}
.bg-3{
    background-image: url(img/bg-3.jpg);
}
.bg-4{
    background-image: url(img/bg-4.jpg);
}
.bg-darken{
    background-color: rgba(19, 29, 67, .8);
    height: 100%;
}